@model SCOP_AppWeb.Models.Devoluciones

@{
    ViewData["Title"] = "Editar devolución";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>Devolución:</h4>
<hr />

<style>
    .content {
        background-color: cadetblue;
    }

    .color {
        background-color: #F0FFFF;
        font-family: 'Lobster', cursive;
    }

    .letra {
        color: black;
    }
</style>

<body class=" color letra">
<div class="row">
        <div class="col-md-4 mx-auto" style="border: 1px solid #ccc; padding: 20px; border-radius: 10px;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDevolucion" />
            <div class="form-group">
                <label asp-for="IdDevolucion" class="control-label"></label>
                <input asp-for="IdDevolucion" class="form-control" readonly />
                <span asp-validation-for="IdDevolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOrdenProduccion" class="control-label"></label>
                <input asp-for="IdOrdenProduccion" class="form-control" readonly/>
                <span asp-validation-for="IdOrdenProduccion" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="IdUsuario" class="control-label"></label>
                <input asp-for="IdUsuario" class="form-control" />
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" readonly />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImporteDevolucion" class="control-label"></label>
                <input asp-for="ImporteDevolucion" class="form-control" />
                <span asp-validation-for="ImporteDevolucion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label" disabled>
                    <input class="form-check-input" disabled asp-for="EstadoActivo" /> @Html.DisplayNameFor(model => model.EstadoActivo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-success mt-2 btn-effect" />
                    <a asp-action="Index" class="btn btn-primary mt-2 btn-effect">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>


</body>