@{
    ViewData["Title"] = "CostOptiFine Solutions";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title> 
</head>


<style>
    .inicio{
        background-color: #41403C;
        background-image: url('/img/P1.jpg');
        background-position: center center;
        background-size: contain;
        --background-size: cover; /* Para cubrir todo el fondo */

        background-repeat: no-repeat;
        margin: 0;
        height: 100vh;
        font-family: 'Lobster', cursive;
    }
</style>

<body class="inicio">


    <div class="container mt-5 pt-4">
     

        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Automatización Eficiente</h5>
                        <p class="card-text">Simplifica tus procesos con nuestra aplicación que automatiza y calcula costos de producción de manera rápida y precisa.                   </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Gestión de Usuarios Segura</h5>
                        <p class="card-text">Administra roles de usuario de manera efectiva. Desde administradores hasta operadores, aseguramos la seguridad de tus datos empresariales.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Optimiza tus Procesos</h5>
                        <p class="card-text">Impulsa la eficiencia con herramientas que ofrecen una optimización. Mejora tus procesos y maximiza tu rendimiento para alcanzar el éxito empresarial.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

</body>
</html>
