@model SCOP_AppWeb.Models.Requisiciones

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Añadir nueva requisición</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IdOrdenProduccion" class="control-label"></label>
                <select asp-for="IdOrdenProduccion" class="form-control">
                    @if (ViewBag.OrdenesProduccion != null)
                    {
                        foreach (var ordenProduccion in ViewBag.OrdenesProduccion)
                        {
                            <option value="@ordenProduccion.IdOrdenProduccion">@ordenProduccion.Descripcion</option>
                        }
                    }
                </select>
                <span asp-validation-for="IdOrdenProduccion" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select asp-for="IdUsuario" class="form-control">
                    @foreach (var usuario in ViewBag.Usuarios)
                    {
                        <option value="@usuario.idUsuario">@usuario.nombreUsuario</option>
                    }
                </select>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoRequisicion" class="control-label"></label>
                <select asp-for="TipoRequisicion" class="form-control">
                    <option value="ManoDeObra">Mano de obra</option>
                    <option value="MateriaPrima">Materia prima</option>
                    <option value="CostosIndirectos">Costos indirectos</option>
                </select>
                <span asp-validation-for="TipoRequisicion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CostoRequisicion" class="control-label"></label>
                <input asp-for="CostoRequisicion" class="form-control" />
                <span asp-validation-for="CostoRequisicion" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Añadir" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary ml-2">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

