@model SCOP_AppWeb.Models.Requisiciones

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar requisición</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRequisicion" />

            <div class="form-group">
                <label asp-for="IdOrdenProduccion" class="control-label"></label>
                <input asp-for="IdOrdenProduccion" class="form-control" readonly="readonly" />
                <span asp-validation-for="IdOrdenProduccion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <input asp-for="IdUsuario" class="form-control" readonly="readonly" />
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" readonly="readonly" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoRequisicion" class="control-label"></label>
                <input asp-for="TipoRequisicion" class="form-control" />
                <span asp-validation-for="TipoRequisicion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CostoRequisicion" class="control-label"></label>
                <input asp-for="CostoRequisicion" class="form-control" />
                <span asp-validation-for="CostoRequisicion" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EstadoActivo" disabled /> @Html.DisplayNameFor(model => model.EstadoActivo)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary ml-2">Volver a la lista</a>
            </div>

        </form>
    </div>
</div>



