@model SCOP_AppWeb.Models.Usuarios

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Usuarios</h4>
<hr />

<style>
    .content {
        background-color: cadetblue;
    }

    .color {
        background-color: #F0FFFF;
        font-family: 'Lobster', cursive;
    }

    .letra {
        color: black;
    }

    .fondo {
        background-color: ghostwhite
    }
</style>

<body class="color letra">
<div class="row">
        <div class="col-md-4 mx-auto fondo" style=" border: 1px solid #ccc; padding: 20px; border-radius: 10px;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idUsuario" />
            <div class="form-group">
                <label asp-for="idRol" class="control-label"></label>
                <input asp-for="idRol" class="form-control" />
                <span asp-validation-for="idRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombreUsuario" class="control-label"></label>
                <input asp-for="nombreUsuario" class="form-control" />
                <span asp-validation-for="nombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correoUsuario" class="control-label"></label>
                <input asp-for="correoUsuario" class="form-control" />
                <span asp-validation-for="correoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefonoUsuario" class="control-label"></label>
                <input asp-for="telefonoUsuario" class="form-control" />
                <span asp-validation-for="telefonoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="estadoActivo" /> @Html.DisplayNameFor(model => model.estadoActivo)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="restablecer" /> @Html.DisplayNameFor(model => model.restablecer)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                  <a asp-action="Index" class="btn btn-secondary ml-2">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>



</body>