@model SCOP_AppWeb.Models.Usuarios

@{
    ViewData["Title"] = "RegistrarUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="Titulos">Registrar Usuario</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 Aliniamiento">

            @if (TempData["MensajeCreado"] != null)
            {
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    <strong>@TempData["MensajeCreado"]</strong>
                </div>
            }

            @if (TempData["MensajeError"] != null)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    <strong>@TempData["MensajeError"]</strong>
                </div>
            }

            <form id="FormularioCrearCuenta" asp-action="RegistrarUsuario" method="post" class="FormularioLogin Fondos Textos">
                <div class="form-group">
                    <label asp-for="idRol" class="form-label fas fa-address-card">   Rol del Usuario</label>
                    <select name="ListaRoles" class="form-select">
                        <option selected>Seleccione un Rol</option>
                        <option value="Administrador">Administrador</option>
                        <option value="Supervisor">Supervisor</option>
                        <option value="Operador">Operador</option>
                        <option value="Analista">Analista</option>
                    </select>
                </div>                
                <div class="form-group mt-3">
                    <label asp-for="correoUsuario" class="form-label fas fa-map-marker">  Correo Electronico</label>
                    <input type="text" asp-for="correoUsuario" class="form-control" placeholder="Ej: usuario@dominio.com" />
                    <span asp-validation-for="correoUsuario" class="text-danger"></span>
                </div>              
                <div class="form-group mt-4">
                    <input type="submit" value="Enviar" class="btn Botones fas fas fa-paper-plane" />
                </div>
            </form>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>
