@model SCOP_AppWeb.Models.OrdenProduccion

@{
    ViewData["Title"] = "RegistrarOrdenProduccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>RegistrarOrdenProduccion</h1>

<h4>OrdenProduccion</h4>
<hr />

<style>
    .content {
        background-color: cadetblue;
    }

    .color {
        background-color: #F0FFFF;
        font-family: 'Lobster', cursive;
    }

    .letra {
        color: black;
    }
</style>
<body class="color letra">
<div class="row">
        <div class="col-md-4 mx-auto" style="border: 1px solid #ccc; padding: 20px; border-radius: 10px;">
        @if (TempData["MensajeError"] != null)
        {
            <div class="alert alert-warning" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                <strong>@TempData["MensajeError"]</strong>
            </div>
        }
        <form asp-action="RegistrarOrdenProduccion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>                 

            <div class="form-group">
                <label asp-for="CantidadProductos" class="control-label"></label>
                <input asp-for="CantidadProductos" class="form-control" />
                <span asp-validation-for="CantidadProductos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary ml-2">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>



</body>
